# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


## Custom

# Ignore all files without an extension (likely executables)
*

# But don't ignore .cpp source files
!*.cpp

# Ignore object files and other compiled outputs
*.o
*.out
*.exe
*.bin
*.class
a.out

# Ignore hidden temporary files
.*.swp
*.log
input.in
output.out
